.user-profile-18 {
  background: radial-gradient(rgb(245, 245, 220),white,rgb(245, 245, 220));
  display: flex;
  height: 100vh;
  width: 100vw;
  gap: 10px;
}

.user-profile-left {
  flex: 70%;
  display: flex;
  flex-direction: column;
  margin-left: 10%;
  margin-right: 10%;
}

.user-profile-right {
  flex: 30%;
  /* width: 100%; */
}

.user-box-18-1 {
  margin-top: 2%;
  display: flex;
  font-weight: bold;
  height: 50px;
  justify-content: space-evenly;
  align-items: center;
  border-radius: 4px;
  background: rgb(255, 255, 255);
  border: 1px solid #ccc8ca;
  padding: 5px;
}

.vertical-menu {
  width: 200px;
  display: flex;
  flex-direction: column;
}

.vertical-menu a {
  color: #000;
  padding: 12px;
  text-decoration: none;
  font-size: 18px;
  display: block;
  text-align: left;
}

.vertical-menu a:hover {
  background-color: #e2ccd7;
}

/* user profile edit */

.reg-login-section {
  width: 60%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 15px;
  border: 1px solid grey;
  padding: 15px;
}

.left-side {
  display: flex;
  flex: 1;
  background: red;
}

.right-side {
  display: flex;
  flex: 1;
}

.editform-18{
    width: 100%;
    margin: 0 auto;
    text-align: left;

}


label {
  margin-bottom: 1px;
}

input[type="text"],
input[type="password"],
input[type="email"] {
  width: 60%;
  padding: 12px 20px;
  margin: 1px 0;
  box-sizing: border-box;
  border: 1px solid #ccc;
  border-radius: 4px;
}

input[type="submit"] {
  width: 60%;
  background-color: white;
  color: rgb(231, 46, 119);
  padding: 14px 20px;
  margin: 8px 0;
  border: 1px solid rgb(231, 46, 119);
  border-radius: 4px;
  cursor: pointer;
}

input[type="submit"]:hover {
  background-color: rgb(231, 46, 119);
  color: white;
}

.edit-form-18 {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-left: 30%;
}
